 
  *{
    margin: 0;
    font-family:  'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  
  }
    .my-gradient {
  background: radial-gradient(
    83.9% 46.38% at 50% 0%,
    #ffffff 0%,
    #f2ff00 100%
  );
  height: 100vh; display: flex; align-items: center; justify-content: center;
}

/* Footer  */

footer .footer_developer{
    background: radial-gradient(
    83.9% 46.38% at 50% 0%,
    #ffffff 0%,
    #000000 100%
  );
   font-size: 15px;
   color: white;
   padding: 10px;
   text-align: center;

}

 